@model IEnumerable<AMPROJECT.Models.Film>

@{
    ViewData["Title"] = "Liste de Films";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>
        @*    <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSortie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

    <div>
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                    <div class="col-mid-12">
                        <div class="card-header-tabs text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    Film nom exmple
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>

                                </h5>

                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="col-mid-6">
        <img src="" width="100%" alt="">

    </div>
    <div class="col-md-6">
        <div class="card-body">
            <p class="cars-text">Description</p>
             <p class="cars-text">Categorie</p>
             <p class="cars-text">Description</p>
             <p class="cars-text">Prix</p>

        </div>

    </div>
    <div class="col-md-12">
        <div class="card-footer">
            <p class="card-text">
                <a class="btn btn-success text-white"><i class="bg-info bi-cart-plus"></i> Ajouter au Panier(Prix @item.Prix.ToString("c"))</a>

            </p>

        </div>

    </div>

         @*   var photoPath = "~/images/" + (item.PhotoPath ?? "~/images/noimage.jpg");

        <tr>
                <td>
                    <img src="~/Images/@item.PhotoPath" width="50" keigth="50" asp-append-version="true" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSortie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite)
            </td>
          
        </tr> *@
}
    </tbody>
</table>
